.tweet_list li a{ color:#cccc33;}
.colored { color:#CCCC33;}
.link { color:#CCCC33;}
.color-line { background:#CCCC33}
a.button_readmore:hover {
	background-color:#cccc33;
}
.service:hover > h4 { color:#cccc33;}
#jstwitter .tweet a {
	color: #CCCC33;
}
.comment .button_readmore:hover {
	background-color:#cccc33;
}
.form-wrapper #submit:hover,
.form-wrapper #submit:focus,
#submit_form:hover,
#submit_form:focus {	
	background-color: #cccc33;
	background-image: none;
	border: 1px solid #cccc33;
}
#menu ul a:hover {
	background-color: #cccc33;	
	background-image: none;	
}
#menu ul li:first-child a:hover:after {
	border-bottom-color: #cccc33; 
}

#menu ul ul li:first-child a:hover:after {
	border-right-color: #cccc33; 
	border-bottom-color: transparent; 	
}
ul#filter-sidebar li.current a, ul#filter-sidebar a:hover { text-decoration: none; color:#cccc33;  }
ul#filter-sidebar li.current a { color: #cccc33;}
.pagination li a:hover, .pagination li.current a {
	background: #cccc33;	
}
ul.navigation-sidebar li.current a, ul.navigation-sidebar a:hover { text-decoration: none; color:#cccc33;  }
ul.navigation-sidebar li.current a { color: #cccc33;}

ul.navigation-sidebar a:hover {
	color:#cccc33;
}
.new-item { 
	background-color:#CCCC33;
}
.featured { 
	background-color:#CCCC33;
}
.more{
	background-color:#CCCC33;
}
.ca-more{
	background-color:#CCCC33;
}
.ca-close{
	background-color:#CCCC33;
}
.ca-item .title { 
	background-color:#CCCC33;
}
.mega-button {
	background-color:#CCCC33;
}
.ca-content .live {
	background-color:#CCCC33;
}

.ca-content .buy {
	background-color:#CCCC33;
}
.va-slice h3:hover{
	color:#CCCC33;
}
.va-slice ul li a{
	background:#CCCC33;
}
.va-more{
	background-color:#CCCC33;
}