div#janeparchment {
		background-image: url(../images/janeparchment.png);
		background-repeat: no-repeat;
		width: 415px;
		height: 110px;
}

div#janeparchment div.topspin-widget {
		position: absolute;
		top: 205px;
		left: 20px;
}

div#greektext {
	position: absolute;
		top: 500px;
		left: 0px;
}