div#desk {
	/*controls height of the desk with "div#paper height" - below*/
	height: 2100px;
}

div#paper {
	/*controls height of the paper (should be "div#desk height" - 100)*/
	height: 2000px;
}

div#parchment {
		background-image: url(../images/parchment.png);
		background-repeat: no-repeat;
		width: 450px;
		height: 100px;
}

div#parchment div.topspin-widget {
		position: absolute;
		top: 1347px;
		left: 20px;
}
