.colored { color:#339933;}
.link, .meta2 a { color:#339933;}
.color-line { background:#339933;}
a.button_readmore:hover {
	background-color:#339933;
}
.service:hover > h4 { color:#339933;}
#jstwitter .tweet a {
	color: #339933;
}
.comment .button_readmore:hover {
	background-color:#339933;
}
.menu ul a:hover {
	background-color: #339933;	
	background-image: none;	
}
.form-wrapper #submit:hover,
.form-wrapper #submit:focus,
#submit_form:hover,
#submit_form:focus {	
	background-color: #339933;
	background-image: none;
	border: 1px solid #339933;
}
.menu ul li:first-child a:hover:after {
	border-bottom-color: #339933; 
}

.menu ul ul li:first-child a:hover:after {
	border-right-color: #339933; 
	border-bottom-color: transparent; 	
}
ul#filter-sidebar li.current a, ul#filter-sidebar a:hover { text-decoration: none; color:#339933;  }
ul#filter-sidebar li.current a { color: #339933;}
.pagination li a:hover, .pagination li.current a, .page-numbers:hover, .pagination .current {
	background: #339933;	
}
ul.navigation-sidebar li.current a, ul.navigation-sidebar a:hover { text-decoration: none; color:#339933;  }
ul.navigation-sidebar li.current a { color: #339933;}

ul.navigation-sidebar a:hover {
	color:#339933;
}
.new-item { 
	background-color:#339933;
}
.featured { 
	background-color:#339933;
}
.more{
	background-color:#339933;
}
.ca-more{
	background-color:#339933;
}
.ca-close{
	background-color:#339933;
}
.ca-item .title { 
	background-color:#339933;
}
.mega-button {
	background-color:#339933;
}
.ca-content .live {
	background-color:#339933;
}

.ca-content .buy {
	background-color:#339933;
}
.va-slice h3:hover{
	color:#339933;
}
.va-slice ul li a{
	background:#339933;
}
.va-more{
	background-color:#339933;
}